@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,700&family=Montserrat:wght@700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: "DM Sans", sans-serif;
  background: #f1f1f1;
}

/*---SPINNER---*/

.spinner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(19, 19, 61);
  font-weight: bold;
  letter-spacing: 0.6px;
}

.spinner h4 {
  margin: 2px;
}

.loader {
  font-size: 20px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #de8b22;
  background: -moz-linear-gradient(
    left,
    #de8b22 10%,
    rgba(255, 163, 43, 0) 42%
  );
  background: -webkit-linear-gradient(
    left,
    #de8b22 10%,
    rgba(255, 163, 43, 0) 42%
  );
  background: -o-linear-gradient(left, #de8b22 10%, rgba(255, 163, 43, 0) 42%);
  background: -ms-linear-gradient(left, #de8b22 10%, rgba(255, 163, 43, 0) 42%);
  background: linear-gradient(to right, #de8b22 10%, rgba(255, 163, 43, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

.loader:before {
  width: 50%;
  height: 50%;
  background: #de8b22;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
}

.loader:after {
  background: #f6f5f7;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: "";
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.text-mute {
  --tw-text-opacity: 1;
  color: rgba(180, 180, 180, var(--tw-text-opacity));
}

@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
